<h1 class="text-center mb-4">Real time bidding</h1>

<ng-container *ngIf="list$ | async as list">
  <p *ngIf="list.loading">
    Data is loading
  </p>
  <ng-container *ngIf="list.data">
    <!-- {{list.data | json}} -->
    <div class="card py-4 px-4" style="max-width: 80%; margin: 0 auto">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Item Name</th>
            <th scope="col">Current Bid</th>
            <th scope="col">Bid</th>
          </tr>
        </thead>
        <tbody>
          @for (auction of list.data; track auction; let index = $index) {
          <tr>
            <th scope="row">{{auction.id}}</th>
            <td>{{auction.itemName}}</td>
            <td class="text-success fw-bold">{{auction.currentBid}}</td>
            <td>
              <div class="d-flex gap-2">
                <div style="width: 100px;" class="mr-1">
                  <input type="number" class="form-control" [(ngModel)]="auction.newBid" [required]="true"
                    [min]="auction.currentBid + 1" />
                </div>
                <div>
                  <button type="button" class="btn btn-primary" (click)="onClickBid(auction)"
                    [disabled]="auction.newBid <= auction.currentBid || isLoading()">
                    Bid <i style="min-width: 18px;" class="fa-solid" [ngClass]="auction.id === bidId() && isLoading() ? 'fa-spinner fa-spin' : 'fa-check'"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </ng-container>
  <p *ngIf="list.error">
    An error ocurred.
  </p>
</ng-container>
